:root {
    --primary-color: #7F8CAA;   
    --light-color: #EAEFEF;
    --secondary-color: #a6cecc;
    --secondary-color-hover: #6bb7b4;
    --dark-color: #333446;   
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: var(--dark-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav a:hover {
    color: var(--secondary-color-hover);
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: 400px;
}

 body{
    font-family: Arial, sans-serif;
    background-image: url('./travel.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--primary-color);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea,
  select {
    padding: 5px;
    border: none;
    border-radius: 16px;
    height: 35px;
    width: 100%;
  }
  
  button {
    padding: 7px 15px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: var(--secondary-color-hover);
  }

  p {
    color: var(--dark-color);
    font-size: 18px;
    line-height: 30px;
  }

  .bolden {
    font-weight: bold;
    color: var(--dark-color)
  }

  .subtite {
    font-size: 50px;
    color: var(--dark-color);
    max-width: 700px;
  }

  /* Home */
  .home-title {
    font-size: 60px;
    color: var(--dark-color);
    max-width: 700px;
  }

  .home-paragraph {
    max-width: 700px;
  }

  .social-media-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }

  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .vertical-line {
    width: 3px;
    height: 200px;
    background-color: var(--dark-color);
    margin-bottom: 30px;
    border-radius: 8px;
  }

  #home {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 30px
  }

  /* about us */
  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #about {
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 30px
  }

  .team-members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    margin-left: 50px;
  }

  .team-member {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #33344642;
    border-radius: 8px;
    padding: 15px;
    gap: 10px;
  }

  .tag {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 16px;
    font-size: 14px;
    margin-top: 8px;
  }

  /* form */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    width: 90%;
  }

  textarea {
    width: 100%; 
    resize: vertical;
  }

  .contact-label {
    font-weight: bold;
    color: var(--dark-color);
  }

  .result-item {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 8px;
    max-width: 500px;
    margin-left: 60px;
  }
  .result-item h3 {
    margin-bottom: 8px;
    color: var(--dark-color);
    padding: 8px
  }
  .result-item p {
    padding: 8px;
    color: var(--dark-color);
  }
  .result-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-position: center;
  }

  #result-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    max-height: 80vh;
    overflow-y: auto;
    padding-bottom: 20px;
    max-width: 600px;
  }

  .visit-btn {
    padding: 10px;
    margin: 8px;
  }
